/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/mail/send-mng-approve.blade.php
resources/views/mail/send-approve.blade.php
resources/views/mail/send-mng-request.blade.php
resources/views/mail/send-mngnot-approve.blade.php
resources/views/mail/send-not-approve.blade.php
resources/views/mail/send-request.blade.php
resources/views/mail/send-result.blade.php
